.css-az8st9-MuiDataGrid-root{
    color: rgb(7, 7, 7)!important;
  }
  
  .css-rtrcn9-MuiTablePagination-root{
    color: rgb(12, 12, 12, 0.54)!important;
  }
  
  .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
    color: rgba(12, 12, 12, 0.54)!important;
  }
  
  .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
    color: rgba(12, 12, 12, 0.54)!important;
  }
  
  .card {
    padding: 2em;
  }